body {
  background-color: #fbfacd;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

h2 {
  color: rgba(90, 40, 156, 0.747);
  text-align: center;
}

.text-primary {
  color: rgba(90, 40, 156, 0.747);
  font-size: 18px;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
  background-color: #ba94d1;
  padding: 10px;
  margin: 0;
  list-style: none;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
}

nav ul a {
  color: rgba(255, 255, 255, 0.774);
  text-decoration: none;
}

nav ul a:hover {
  color: #debace;
  transition: 0.3s;
}
